.game-interface {
  .column {
    height: 30vh;
    opacity: 0.5;
    transition: opacity ease-in-out 500ms;
  }

  .color-red {
    background-color: $color-red;
  }
  .color-green {
    background-color: $color-green;
  }
  .color-blue {
    background-color: $color-blue;
  }
  .color-yellow {
    background-color: $color-yellow;
  }
}
