.game-interface {
  .column {
    height: 30vh;
    opacity: 0.7;
    transition: opacity ease-in-out 5s;
  }

  .color-red {
    background-color: $colorRed;
  }
  .color-green {
    background-color: $colorGreen;
  }
  .color-blue {
    background-color: $colorBlue;
  }
  .color-yellow {
    background-color: $colorYellow;
  }
}
