.navigation-bar {
  .alert-primary {
    background-color: #e6add8;
    border: none;
  }

  .status-bar {
    text-align: center;
  }

  .start-game-button {
    background-color: #ade6bb;
    border: none;
    color: black;
  }
}
