.navigation-bar {
  .alert-primary {
    border: none;
  }

  .status-bar {
    border: none;

    .status-bar-text {
      margin: 0;
    }
  }

  .start-game-button {
    background-color: $start-game-button-color;
    border: none;
    color: black;
  }
}
