@import "./variables";
@import "./navigation-bar";
@import "./game-interface";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
